<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.core" >


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <provider
            android:name=".spHelper.SPContentProvider"
            android:authorities="com.zzy.core.spHelper"
            android:exported="false" />

    </application>

</manifest>
